@theme {
  --color-btn-primary: var(--color-primary-900);
  --color-btn-primary-hover: var(--color-primary-800);

  --color-btn-secondary: var(--color-secondary-900);
  --color-btn-secondary-hover: var(--color-secondary-800);
}

@layer components {
  .btn {
    border-radius: var(--radius-xs);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    box-shadow: var(--shadow-md);
    cursor: pointer;
    font-size: medium;
    border-width: 1px;
  }

  .btn:disabled,
  .btn:disabled:hover {
    cursor: not-allowed;
    color: var(--color-disabled);
  }

  .btn:disabled * {
    pointer-events: none;
  }

  .btn-xs {
    padding-inline: --spacing(1);
    padding-block: --spacing(1);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  .btn-sm {
    padding-inline: --spacing(3);
    padding-block: --spacing(1);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  .btn-md {
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }

  .btn-lg {
    padding-inline: --spacing(7);
    padding-block: --spacing(3);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }

  .btn-xl {
    padding-inline: --spacing(9);
    padding-block: --spacing(4);
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  .btn-2xl {
    padding-inline: --spacing(11);
    padding-block: --spacing(5);
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }

  .btn-primary {
    background-color: var(--color-btn-primary);
    border-color: var(--color-btn-primary);
    color: var(--color-white);

    &:hover {
      @media (hover: hover) {
        background-color: var(--color-btn-primary-hover);
        color: var(--color-white);
      }
    }
  }

  .btn-secondary {
    background-color: var(--color-white);
    border-color: var(--color-btn-secondary);
    color: var(--color-btn-secondary);

    &:hover {
      @media (hover: hover) {
        background-color: var(--color-btn-secondary-hover);
        color: var(--color-white);
      }
    }
  }

  .btn-ghost {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    box-shadow: none;

    &:hover {
      @media (hover: hover) {
        background-color: transparent;
        color: inherit;
      }
    }
  }

}