@layer components {

  .table th,
  .table td {
    border-color: var(--color-stone-300);
  }

  .table th {
    background-color: var(--color-white);
  }

  .table td {
    background-color: inherit;
  }

  .table tr,
  .table tr:nth-child(odd) {
    background-color: var(--color-gray-50);
  }

  .table tr:nth-child(even) {
    background-color: var(--color-white);
  }
}